  /* otras 2 paletas 
  https://colorhunt.co/palette/4335a780c4e9fff6e9ff7f3e
  https://colorhunt.co/palette/1b262c0f4c7500b7c2fdcb9e
  https://colorhunt.co/palette/eeeeee686d76373a40dc5f00
  https://colorhunt.co/palette/ff65001e3e620b192c000000
  
  PALETA ACTUAL:
  https://colorhunt.co/palette/78b3cec9e6f0fbf8eff96e2a
  */
:root {
    --1skyblue: rgb(120, 179, 206);
    --2lightSkyblue: rgb(201, 230, 240);
    --3pink: rgb(251, 248, 239);
    --4orange: rgb(249, 110, 42);
    --5black: rgb(0, 0, 0);
    --rem: 20px;
}

* {
    margin: 0%;
	padding: 0%;
    box-sizing: border-box;
    font-family: "Sour Gummy", sans-serif;
    text-align: center;
    color: var(--5black);
}
body {
  	width: 90%;
  	margin: auto;
    background: linear-gradient(var(--2lightSkyblue) , var(--1skyblue));
}
#bannerContenedor {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
#bannerImg {
    margin: auto;
    width: 200px;
    border-radius: 50%;
    aspect-ratio: 1; /* Se ajusta al mismo valor que el width */
    object-fit: cover;
}
#bannerTexto {
    font-size: 7rem;
    font-weight: 500;
}

ul {
  	list-style: none;
}
a {
  	text-decoration: none;
}

#nav-list {
  	display: flex;
  	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	overflow: hidden;
}
.nav-item {
    font-size: 1.5rem;
    transition: 1.5s;
}
.nav-item:hover {
    transform: scale(1.1) ;
}
/* LISTA DE PRODUCTOS */
#listaProductos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    width: 100%;
    padding: 1rem 0rem;
}
.producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-color: var(--3pink);
    box-shadow: 5px 10px 10px var(--5black);
    border-radius: 1rem;
    height: 50vh;
}
.producto:hover {
    transform: translateY(-10px);
	box-shadow: 10px 10px 10px var(--5black);
}
.producto-img-contenedor {
    overflow: hidden;
    height: 50%;
    width: 100%;
}
img {
    width: 100%;
}
.producto-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .25rem;
    border-radius: 1.5rem;
}
#infoNombre {
    overflow-y: hidden;
}

.botonAgregar {
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 2rem;
    border: 2px solid var(--4orange);
    background-color: var(--4orange);
    color: var(--3pink);
    cursor: pointer;
    padding: 0.3rem 0rem;
}
.botonAgregar:hover {
    background-color: var(--3pink);
    color: var(--4orange);
}
/* CARRITO */
#listaCarrito {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--2lightSkyblue);
}
.carrito-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.25rem;
    background-color: var(--3pink);
}
.img-mini {
    width: 5rem;
}
/* FOOTER */
#footer {
    padding: 0.5rem 0rem;
}
#footer-contenedor {
    display: grid;
	grid-template-columns: 1fr 2fr;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    

}
#footer-seguinos {
	font-size: 2rem;
}

#footer-redes-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	overflow: hidden;
}
.redes-icono {
	align-self: center;
}
#copyright {
    font-size: 1.25rem;
    color: var(--2lightSkyblue);
}
/* CONTACTO */
iframe {
    width: 100%;
}
/* RESENAS */
.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
}
.grid-container>div {
    background-color: var(--3);
    border-radius: 10px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    overflow: hidden;
}
.grid-container>div>img{
    height: 50%;
    width: 100%;
}
/* MEDIA QUERIES */
@media screen and (max-width:900px) {
    .card {
        width: 49%;
        height: 50vh;
    }
    
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:550px) {
    body {
        width: 90%;
    }
    .cards-container {
        flex-direction: column;
    }
    .card {
        width: 95%;
        height: 40vh;
    }
    label {
        display: block;
    }
    .grid-container {
        grid-template-columns: 1fr;
    }
}